@{
    Layout = "~/Views/Shared/_TeledataTheme.cshtml";
    ViewBag.Title = "Staf";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<button class="k-button k-button-icontext" id="btnCreateNew">
    <span class="k-icon k-add"></span>Staf Baru
</button>
<hr />

@(Html.Kendo().Grid<KomodoLaundry.WebApp.Models.StaffModel>()
    .Name("grid")
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(new int[] { 20, 100, 500 })
        .ButtonCount(5))
    .Sortable()
    .Groupable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:430px;" })
    .Columns(columns =>
    {
        columns.Bound(o => o.Name);
        columns.Bound(o => o.Address);
        columns.Bound(o => o.Mobile);
        columns.Bound(o => o.Email);

        columns.Bound(o => o.Branch);
        columns.Bound(o => o.CreatedDate).Format("{0:dd-MMM-yyyy}");
        columns.Bound(o => o.IsLogin);
        columns.Bound(o => o.IsActive);
        columns.Bound(o => o.Note);

        columns.Bound(o => o.Id).Width(80).Filterable(false)
            .Title("ACTION")
            .ClientTemplate("<a href='javascript:editData(\"#= Id#\");' title='Edit'>EDIT</a>");
        columns.Bound(o => o.Id).Width(100).Filterable(false)
            .HeaderHtmlAttributes(new { style = "display:none;" })
            .ClientTemplate("<a href='javascript:deleteData(\"#= Id#\");' title='Non-aktifkan'>NONAKTIF</a>");
        columns.Bound(o => o.Id).Width(80).Filterable(false)
            .HeaderHtmlAttributes(new { style = "display:none;" })
            .ClientTemplate("<a href='javascript:deleteData(\"#= Id#\");' title='Hapus'>DELETE</a>");
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("Read", "Index"))
     )
     .Selectable()
    .Resizable(resize => resize.Columns(true))
)


<script>
    $("#btnCreateNew").bind("click", function () {
        window.location.href = "/Staff/Create";
    });

    function editData(id) {
        window.location.href = "/Staff/Edit?id=" + id;
    }

    function deleteData(id) {
        alertify.confirm("Anda yakin ?", function (e) {
            if (e) {
                funcDeleteData(id);
            }
        });
    }
    function funcDeleteData(id) {
        $.ajax({
            url: '@Url.Action("Delete")', type: "POST", dataType: "json",
            data: {
                id: id
            },
            success: function (data) {
                if (data.success == false) {
                    alertify.alert(data.message);
                    return;
                }
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function () { alertify.alert("Application error. Please try again."); }
        });
    }
</script>